body {
    margin: auto;
    height: 100vh;
    text-align: center;
    font-size: large;
    font-weight: bold;
  }
.bandeau {
    background-color: aqua;
    height: 10%;
    width: 100%;
  }
.contenu {
    background-color: yellow;
    height: 80%;
    width: 80%;
  }
.menu {
    background-color: skyblue;
    height: 80%;
    position: absolute;
    left: 80%;
    top: 10%;
    width: 20%;
  }
.pied {
    background-color: lightgreen;
    height: 10%;
    width: 100%;
  }
  