body {
    font-family: Arial, sans-serif;
}
p {
    margin: 20px;
    padding: 20px;
}
#first-paragraph {
    background-color: lightblue;
    position: relative;
    z-index: 1;
}
#transparent-div {
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 2;
}
#transparent-div p {
    background-color: lightgreen;
}